* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}
*{
	text-decoration: none;
	list-style: none;
}
#header {
  height: 10vh;
	font-family: 'Montserrat', sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
}
.img-logo{

}
@media(max-width: 768px){
  .img-logo{
    width:170px;
    margin: 0px 0px 0px 31px;
  }
}

.menu {
	width: 65%;
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	list-style: none;
}

.menu-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(238,51,37,1);
  font-size: 1rem;
}

.menu-mobile {
  display: none;  
}  

    @media(max-width: 768px) {
        .menu-mobile {
            display: block;
            font-size: 1.12rem;
            text-transform: uppercase; 
            padding-right: 2rem;
            color: #EE332570;
        }
        .menu-mobile.--menuMobile {
            display: none;
        }
    }
.fechar-menu {
    display: none;
}
    @media(max-width: 768px) {
        .fechar-menu {
            display: none;
            font-size: 1.12rem;
            text-transform: uppercase; 
            padding-right: 2rem;
            color: #EE332570;
        }
        .fechar-menu.--menuClose {
            display: flex;
            font-size: 1.12rem;
            text-transform: uppercase; 
            padding-right: 2rem;
            color: #EE332570;
            z-index: 3;
        }
    }

.menu-list{
	min-width: 50vw;
	display: flex;
    justify-content: space-evenly;
    align-items: center;
	list-style: none;
}
@media(max-width: 768px) {
    .menu-list {
        display: none;
    }
}

@media(max-width: 768px) {
    .menu-list.--menuOpen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        z-index: 2;
    }
}

.item-lang{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .75rem;
}
.menu-mobile-about {
	display: none;
	text-decoration: none;
	margin-left: 5vw;
}
#about{
  height: 100%;
  display: flex;
	justify-content: flex-start;
  flex-direction: column;
	background-color: rgba(0,131,202,1);
	font-family: 'Montserrat', sans-serif;
}
.circle-one{
	clip-path: circle(50% at 50% 50%);
	width: 600px;
	height: 600px;
	position: absolute;	
  opacity: 0.2;
	z-index: 1;
  left: 78%;
	top: 30%;
	display: none;
}
.circle-two{
	clip-path: circle(50% at 50% 50%);
  width: 22vw;
  height: 35vh;
  opacity: 0.1;
  left: 54%;
  background: white;
  display: none;
}
.box-grand-circle{
  box-sizing: border-box;
    text-decoration: none;
}

  @media(max-width: 768px) {
    .box-grand-circle {
      display: none;
    }
  }

.title-about{
  width: 33%;
  text-align: right;
  font-size: 2.5rem;
  color: white;
}

  @media(max-width: 768px) {
    .title-about {
          width: 87%;
    font-size: 1.5rem;
    position: relative;
    left: 36px;
    }
  }

.container-figures{
	width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  @media(max-width: 768px) {
    .container-figures {
      width: 80vw;
      flex-direction: column-reverse;
      /*align-items: flex-start;*/
    }
  }

.box-figure{
  width: 25%;
}
  @media(max-width: 768px) {
    .box-figure {
    left: 27px;
    width: 90%;
    object-fit: cover;
    position: relative;
    }
  }

.img-about{
  width: 100%;
}
.box-text{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1a82ca;
}
@media(max-width: 768px) {
  .box-text {
    width: 90%;
  }
}

.box-text-about {
  height: 80%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

@media(max-width:768px) {
  .box-text-about {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.p-about{
  font-family: 'Open Sans', sans-serif;
  width: 74%;
  color: #fff;
  font-size: 1.2rem;
}
@media(max-width:768px) {
  .p-about {
    font-size: 1rem;
    width: 78%;
    margin-bottom: 1.25rem;
  }
}

.title-values-principal {
  font-family: 'Montserrat', sans-serif;
  width: 82%;
  color: #fff;
  font-size: 3rem;
}
  @media(max-width: 768px) {
    .title-values-principal {
      font-size: 2rem;
    }
  }

.title-values{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 2.9rem;
}

  @media(max-width: 768px) {
    .title-values {
    font-size: 1.60rem;
    line-height: 3;
    display: flex;
    justify-content: center;

    }
  }

#values {
  height: 100%;
	display: flex;
  align-items: center;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(to bottom, rgba(0,131,202,1) 0%, rgba(0,131,202,1) 100%, rgba(0,89,202,1) 12%);
}

.box-values-principal{
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container-values{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

  @media(max-width:768px) {
    .container-values {
      width: 90%;
    }
  }

.container-values-items{
  width: 100%;
  display: flex;
  align-items: center;
}
.values-right{
  display: flex;
  justify-content: flex-end;
}

  @media(max-width: 768px) {
    .values-right {
      margin: 20px 0;
    }
  }

.values-items-texts{
  width: 40%;
  position: relative;
  right: 40px;
}
  @media(max-width: 768px) {
    .values-items-texts {
      position: static;
      right: 0;
      width: 100%;
    }
  }

.container-our-values{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .box-values-reverse{
	display: flex;
	flex-direction: row;
}
.box-values{
  width: 100%;
	display: flex;
	flex-direction: row;
} */
.img-values {
  width: 18%;
	opacity: 1;
}

  @media(max-width: 768px) {
    .img-values {
    display: flex;
    align-self: flex-start;
    position: relative;
    top: 12px;
    right: -76px;
    }
  }

.img-values-attentiveness{
  width: 13%;
}
.box-title-values{
	width: 23vw;
}
.p-values{
  width: 90%;
	color: white;
	font-size: 1.2rem;
}

  @media(max-width:768px) {
    .p-values {
      font-size: 1rem;
    }
  }

#container-our-board{
  height: 100%;
	/* display: flex;
  justify-content: center; */
  background-color: #FCF9F9;
	font-family: 'Montserrat', sans-serif;
}
  @media (max-width: 768px) {
    #container-our-board {
      background-color: #fff;
    }
  }

.title-board{
  width: 35%;
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  color: red;
  font-weight: 900
}

  @media(max-width: 768px) {
    .title-board {
      width:100%;
      height: 15vh;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
    }
  }

.our-board-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-board{
  margin-bottom: 20px;
  padding: 30px;
	display: flex;
  width: 60%;
  justify-content: center;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.20);
}

  @media(max-width: 768px) {
    .box-board {
      width: 90%;
      flex-direction: column;
      box-shadow: none;
    }
  }

.box-img-board{
	/* width: 15vw;
	height: 40vh; */
}
.img-board{
	width: 100%;
	border-radius: 5%;
}
.subtitle-board{
	font-size: .9rem;
	color: red;
}

@media(max-width: 768px){
  .subtitle-board{
    display: flex;
    justify-content: center;
    line-height:4;
  }
}

.p-board{
  color: #231f2096;
  font-size: 0.7rem;
  width: 13vw;
}

@media(max-width: 768px){
  .p-board{
    width: 80vw;
    display: flex;
    justify-content: center;
  }
}

.p-txt-board{
  width: 35vw;
  font-size: .8rem;
  color: #000000;
  display: flex;
}

@media(max-width: 768px) {
  .p-txt-board {
    width: 70vw;

  }
}

.p-txt-board-1 {
  font-size: .7rem;
  color: #00000082;
}
.p-txt-board-2{
  font-size: .7rem;
  color: #00000082;
}
.box-txt-board{
	margin-left: 5%;
  width: 52vw;
	font-size: 0.8rem;
	display: inline-block;
  line-height: 1.3rem;
}

  @media(max-width: 768px) {
    .box-txt-board {
      width: 100%;
    }
  }

#container-news-about{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FBF7F7;
  font-family: 'Montserrat', sans-serif;
}
.about-box-container{

}
@media(max-width: 768px){
  .about-box-container{
    width: 80%;
    position: relative;
    /*left: 41px;*/
  }
}
.title-news-about{
	color: red;
	width: 100%;
}
.about-news-circle1{
	clip-path: circle(50% at 50% 50%);
	width: 250px;
	height: 250px;
	position: absolute;	
	background-color: black;
	opacity: 0.1;
	z-index: 1;
}
.about-news-circle2{
	clip-path: circle(50% at 50% 50%);
	width: 250px;
	height: 250px;
	right: 15%;
	position: absolute;	
	background-color: black;
	opacity: 0.1;
	z-index: 2;
}
.container-our-values-reverse{
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end; 
	position: relative;
	right: 80%;
	top: 5%;
}
.espaco{
	position: absolute;
	right: -95px;
}
.about-news-row{
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}
@media(max-width: 768px){
  .about-news-row{
    display: flex;
    flex-direction: column;
  }
}
.box-about-news{
  padding: 10px 0 0 0;
  width: 25%;
  height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 5%;
	background-color: #FFF3F2;
}

@media(max-width: 768px){
  .box-about-news{
    width: 90vw;
    margin: 8px 0px 45px 0px;
  }
}

.img-about-news{
  width: 95%;
  /* height: 55%; */
	border-radius: 5%;
}
.about-news-texts{
    width: 90%;
    font-size: .7rem;
    margin: 14px 0px 0px 0px;
}
.title-about-news{
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  color: red;
  font-weight: 700;
}

@media(max-width: 768px){
  .title-about-news{
        width: 100vw;
    font-weight: 500;
  }
}

.subtitle-about-news{
	font-size: 1rem;
}
@media(max-width: 768px){
  .subtitle-about-news{
    width: 90vw;
  }
}

.p-about-news{
  font-size: .9rem;
  color: #000000d1;
}
@media(max-width: 768px){
  .p-about-news{
    width: 90vw;
  }
}


#footer{
	  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EE3325;
    padding: 1rem 0;
}

  @media(max-width: 768px) {
    #footer {
      flex-direction: column;
      height: 100vh;
    }
  }


.img-grand-circle{
	  width: 85%;
    height: 40vh;
    opacity: 0.5;
}
.grand-circle-img{
	width: 250px;
	opacity: 0.6;
}
.grand-circle{
  box-sizing: border-box;
    text-decoration: none;
}
.container-footer{
	  width: 70%;
    display: flex;
    justify-content: space-between;
}

  @media(max-width:768px) {
    .container-footer {
      width: 85%;
      flex-direction: column;
    }
  }

.box-footer-center{
	  display: flex;
    justify-content: center;
}
.box-footer{
	  display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
@media(max-width: 768px){
  .box-footer{
    position: relative;
    left: 14px;

  }
}

.logo-footer{

}
.item-menu-footer{
  color: #fff;
  font-size: 1.12rem;
  margin: 10px 0;
}
.list-menu-secundario{
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 45%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  color: #fff;
}

.info-footer {
	display: flex;
}

  @media(max-width: 768px) {
    .info-footer {
    line-height: 2.7;
    position: relative;
    top: -20px;
    left: 5px;
    width: 275px;
    }
  }

.img-logo-footer{
	width: 20vw;
	margin: 1rem 0;
}

  @media (max-width: 768px) {
    .img-logo-footer {
    width: 260px;
    position: relative;
    top: -63px

    }
  }

.p-info-footer{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	color: #fff;
	display: flex;
	font-size: 1.35rem;
}

  @media(max-width: 768px) {
    .p-info-footer {
      font-size: .9rem;
    }
  }

.info-footer-img{
	width: 20px;
}
.box-copyright{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
}
@media(max-width: 768px){
  .box-copyright{
       width: 106%;
    position: relative;
    top: 232px;

  }
}

.copyright{
	font-size: 0.95rem;
	color: black;
	opacity: 0.7;
}
@media(max-width: 768px){
  .copyright{
       font-size: .7rem;
    width: 90vw;
    display: flex;
    justify-content: center

  }
}
.p-copyright{

}
@media(max-width: 768px){
  .p-copyright{
       width: 90%;
    font-size: .7rem;
    display: flex;
    justify-content: center;

  }
}

.menu-secundario{
	  display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding-right: 3rem;
    font-size: 0.95rem;
}
    @media(max-width: 768px){
      .menu-secundario{
    text-align: center;
    position: relative;
    top: 15px;
    left: 20px;
      }
    }

.list-menu-secundario{
	  list-style: none;
    text-decoration: none;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: #fff;
}
.img-circle-whith{
	width: 100%;

}

.menufooter img{
	width: 6vw;
}

