.OurProducts {
  min-height: 80vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
  background-color: rgba(0, 131, 202, 1);
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.19);
}
.title-products {
  width: 36%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-products {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}
.container-products {
  width: 100%;
  /* height: 45vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .container-products {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
.box-product {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .box-product {
    width: 100%;
  }
}
.box-product:hover {
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.products-separator {
  height: 35vh;
  border-left: 2px solid #fff;
}
@media(max-width: 640px){
  .products-separator{
    display: none;
  }
}
.box-product--Card {
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border-left: 2px solid #fff;
  border-right: 2px solid #fff; */
}
@media (max-width: 768px) {
  .box-product--Card {
    width: 90vw;
    border: none;
  }
}
.box-product--Card:hover {
  color: #fff;
  opacity: 0.5;
}
.products-firstbox-simulater {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
@media(max-width: 640px){
  .products-firstbox-simulater{
    height: 0;
  }
}
#OurProducts-Inside-1 {
  display: none;
  /* min-height: 100vh; */
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
#OurProducts-Inside-2 {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
#OurProducts-Inside-3 {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
}
#container-products-simulater{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 131, 202, 1);
}
@media(max-width: 768px){
  #container-products-simulater{
    flex-direction: column-reverse;
  }
}
.products-simulater{
  width: 100%;
  display: flex;
  justify-content: center;
}
.OurProducts-btns{
  width: 4%;
  height: 6vh;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
}
.container-inside {
  padding: 0 5rem;
  /* width: 85%; */
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inside-account{
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .container-inside {
    display: flex;
    flex-direction: column;
  }
}
.title-inside {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: red;
  font-size: 2rem;
}
.box-inside {
  width: 33%;
  height: 112vh;
}
.img-inside-1 {
  height: 85%;
}
@media (max-width: 768px) {
  .img-inside-1 {
    display: none;
  }
}
.box-inside-cash-um {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .box-inside-cash-um {
    width: 100%;
  }
}
.box-inside-cash-dois {
  width: 35%;
  height: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .box-inside-cash-dois {
    width: 100%;
  }
}
.inside-cash-dois{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-inside-cash-tres {
  width: 25%;
  height: 62%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .box-inside-cash-tres {
    width: 100%;
  }
}
.inside-cash-tres{
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.d-inside {
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
}
.sub-title-inside {
  width: 60%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.title-inside-cash3 {
  width: 90%;
}
.p-inside {
  width: 75%;
  color: #707070;
  font-size: 0.8rem;
  opacity: 0.7;
  font-family: "Muli", sans-serif;
}
.p-step-inside {
  padding: .3rem 0;
  color: #707070;
  font-weight: bold;
  font-size: 0.8rem;
}
#OurProducts-Inside-2 {
  /* display: none; */
}
.Inside.--isShow {
  display: none;
}
.title-inside-2 {
  color: red;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.img-inside-2 {
  position: absolute;
  top: 15rem;
  height: 40%;
}
@media (max-width: 768px) {
  .img-inside-2 {
    display: none;
  }
}
.box-inside-2 {
  width: 33%;
  height: 112vh;
}
.box-inside-cash-2 {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.box-inside-card{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-1{
  height: 70%;
}
.card-2{
  height: 70%;
  justify-content: space-evenly;
}
.card-3{
  width: 25%;
  height: 65%;
  display: flex;
  flex-direction: column;
}
.card-inside-3{
  width: 95%;
}
/* @media (max-width: 768px) {
  .box-inside-cash-2 {
    position: relative;
    width: 100%;
    left: 28px;
  }
} */
.inside-cash-2{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inside-card-1{
  position: relative;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.inside-card-2{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inside-card-3{
  height: 82%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.sub-title-inside-2 {
  width: 68%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.p-inside-2 {
  width: 82%;
  color: #707070;
  opacity: 0.7;
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
}
.p-step-inside-2 {
  color: #707070;
  font-weight: bold;
  font-size: 0.8rem;
}
.p-card-3{
  padding: .6rem 0;
}
.title-inside-3 {
  color: #ff0000;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-inside-3 {
    color: #ff0000;
  }
}
.img-inside-3 {
  position: absolute;
  top: 425px;
  height: 30%;
}
@media (max-width: 768px) {
  .img-inside-3 {
    display: none;
  }
}
.box-inside-3 {
  width: 33%;
  height: 100vh;
  position: relative;
}
.box-inside-cash-3 {
  position: relative;
  width: 35%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
/* @media (max-width: 768px) {
  .box-inside-cash-3 {
    position: relative;
    width: 100%;
    left: 28px;
  }
} */
.sub-title-inside-3 {
  width: 63%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.p-inside-3 {
  width: 72%;
  opacity: 0.7;
  color: #707070;
  font-size: 0.8rem;
  font-family: "Muli", sans-serif;
}

.p-step-inside-3 {
  color: #707070;
  font-weight: bold;
  font-size: 0.8rem;
}