*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100vh;
}
#header {
  width: 100%;
  height: 10vh;
}
.block-logo {
  width: 25%;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .block-logo {
    width: auto;
  }
}
#container-logo {
  margin: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  #container-logo {
    height: 10vh;
    justify-content: space-evenly;
  }
}
/* .img-logo-1 {
} */
@media (max-width: 768px) {
  .img-logo-1 {
    padding-left: 2rem;
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-menu-mobile {
  display: none;
}
@media (max-width: 768px) {
  .box-menu-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 2;
  }
}
.menu-mobile {
  display: none;
}
@media (max-width: 768px) {
  .menu-mobile {
    display: block;
    font-size: 1.12rem;
    text-transform: uppercase;
    color: #ee332570;
  }
  .menu-mobile.--menuMobile {
    display: none;
  }
}
.fechar-menu {
  display: none;
}
@media (max-width: 768px) {
  .fechar-menu {
    display: none;
    font-size: 1.12rem;
    text-transform: uppercase;
    padding-right: 2rem;
    color: #ee332570;
  }
  .fechar-menu.--menuClose {
    display: flex;
    font-size: 1.12rem;
    text-transform: uppercase;
    padding-right: 2rem;
    color: #ee332570;
    z-index: 3;
  }
}
.menu-list {
  min-width: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu-list.--menuOpen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 2;
  }
}
.box-menu {
  display: none;
}
.menu-item {
  color: rgba(238, 51, 37, 1);
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.item-lang {
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.box-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  list-style: none;
}
.item-lang:hover {
  font-weight: bolder;
}
.home {
  width: 100%;
  height: 100%;
  background-image: url(../img/female-farmer-kenya-west.png);
  background-size: cover;
  background-position: center;
  background-position: center;
}
@media (max-width: 768px) {
  .home {
    height: 85vh;
  }
}
.wrapper-home {
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 131, 202, 0) 0%,
    rgba(0, 131, 202, -0.55) 60%,
    rgba(0, 131, 202, 1) 100%
  );
}
.box-title {
  padding-left: 5rem;
  position: relative;
  min-height: 70vh;
  background-image: url("../assets/female-farmer-kenya-west.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .box-title {
    align-items: flex-end;
  }
}
.div-img-menu {
  width: 100%;
}
.box-title {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
}
.title-principal {
  width: 40%;
  color: white;
  font-size: 3.62rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-principal {
    position: relative;
    top: 75px;
    left: -59px;
    width: auto;
    font-size: 2rem;
  }
}
.div-button {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  border: none;
}
.button-contact {
  padding: 0rem 2.8rem;
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 100px;
  background-color: red;
}
@media (max-width: 768px) {
  .button-contact {
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
.button-contact-img {
  width: 20%;
}
@media (max-width: 768px) {
  .button-contact-img {
    position: static;
    left: 0;
    width: 35%;
  }
}
.button-description {
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .button-description {
    display: none;
  }
}

#div-form {
  display: none;
}

#div-form.--isOpen {
  position: absolute;
  bottom: 1rem;
  right: 5rem;
  width: 325px;
  height: 370px;
  display: flex;
  background: white;
  border-radius: 10px;
  z-index: 99;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  #div-form.--isOpen {
    right: 10px;
  }
}
.container-form {
  width: 100%;
}
.box-form {
  opacity: 0.5;
  font-size: 0.85rem;
}
.contact-form {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1rem;
}
#close-form {
  position: absolute;
  right: 0;
  width: 28px;
  display: flex;
  border: none;
  background: none;
  color: white;
  font-size: 1.5rem;
}
.title-form {
  position: relative;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: 10px 10px 0 0;
  background-color: red;
}
.button-cancel {
  width: 35%;
  height: 5.5vh;
  color: red;
  border-color: red;
  border-radius: 5px;
  background-color: white;
}
.button-send {
  width: 35%;
  height: 5.5vh;
  color: white;
  border-color: red;
  border-radius: 5px;
  background-color: red;
}
.div-box-form {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f9f9f9;
}
.box-form-contact {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
}
.textarea-form {
  margin-top: 0.5rem;
  resize: none;
}
.textarea-form-2 {
  margin-top: 0.5rem;
  height: 80px;
  resize: none;
}
.div-button-cancel-send {
  height: 9vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#container-products {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 131, 202, 1);
}
@media (max-width: 768px) {
  #container-products {
    height: auto;
  }
}
.title-ourproducts {
  width: 20%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.3rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-ourproducts {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}
.container-title-cash {
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .container-title-cash {
    justify-content: center;
  }
}
.container-box-cash {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .container-box-cash {
    flex-direction: column;
  }
}
.box-cash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-cash {
  width: 86%;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media(max-width: 640px){
  .title-cash{
    font-size: 1.3rem;
  }
}
.p-cash {
  width: 45%;
  text-align: center;
  color: #fff;
  font-size: 1.15rem;
  font-family: "Muli", sans-serif;
}
@media (max-width: 768px) {
  .p-cash {
    font-size: .9rem;
  }
}
#simulater {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 131, 202, 1);
}
@media (max-width: 768px) {
  #simulater {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.title-simulater {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  width: 70%;
  margin: 0;
}
.subtitle-simulater {
  width: 80%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .title-simulater {
    width: 50%;
    font-size: 1.5rem;
  }
  .subtitle-simulater {
    font-size: 1.2rem;
  }
}
.div-simulater {
  width: 100%;
}
@media (max-width: 768px) {
  .div-simulater {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.img-simulater {
  max-width: 100%;
  width: 75%;
}
@media (max-width: 768px) {
  .img-simulater {
    width: 90%;
  }
}
.box-titulo {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.firstbox-simulater {
  width: 91%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 768px) {
  .firstbox-simulater {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.box-country {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .box-country {
    height: 50%;
  }
}
.country-flag {
  margin-right: 1rem;
  display: grid;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.box-simulater {
  /* padding: 0.5rem; */
  width: 100%;
  display: flex;
  align-items: center;
}
/* @media (max-width: 768px) {
  .box-simulater {
    padding: 0.5rem;
  }
} */
.country-name {
  font-size: 1.35rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
}
#s-slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 131, 202, 1) 0%,
    rgba(0, 131, 202, 1) 50%,
    rgba(0, 89, 202, 1) 100%
  );
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  #s-slide {
    flex-direction: column-reverse;
  }
}
simulater-fig {
  display: flex;
  justify-content: center;
}
.box-slide {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .box-slide {
    width: 100%;
    height: auto;
  }
}
.seta-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .seta-desktop {
    display: none;
  }
}
.seta-mobile {
  display: none;
}
@media (max-width: 768px) {
  .seta-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.slide {
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .slide {
    display: block;
  }
}
.slide-box {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .slide-box {
    width: 100%;
  }
}
.pai-slide {
  width: 95%;
  height: 95%;
  background-color: blue;
}
input {
  display: none;
}
input:checked ~ .slide-box-2 {
  display: none;
}
.slide-box-1,
.slide-box-2 {
  cursor: pointer;
}
.img-slide {
  border-radius: 5%;
  max-width: 95%;
}
.box-writing {
  width: 30%;
}
@media (max-width: 768px) {
  .box-writing {
    width: 241px;
  }
}
.writing {
  /*width: 30vw;*/
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 2.32rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .writing {
    font-size: 1.25rem;
    text-align: center;
  }
}
.circles {
  width: 34%;
  height: 20%;
  display: none;
  overflow: hidden;
}
.circle-one {
  clip-path: circle(25% at 60% 50%);
  width: 100vw;
  height: 100vh;
  background-color: #459fd9;
  opacity: 0.5;
}
.circle-two {
  position: relative;
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 50%;
  left: 35%;
  bottom: 45%;
  background-color: #459fd9;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .form-agency select {
    width: 100%;
  }
}
#container-agency {
  position: relative;
  min-height: 55vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  overflow: hidden;
}
@media (max-width: 768px) {
  #container-agency {
    padding: 1rem 0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }
}
.span-agency {
  width: 30%;
  z-index: 99;
}
@media (max-width: 768px) {
  .span-agency {
    width: 90%;
    height: 15vh;
  }
}
.title-agency {
  font-size: 3rem;
  margin: -1%;
  color: rgba(238, 51, 37, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  z-index: 5;
}
@media (max-width: 768px) {
  .title-agency {
    font-size: 2rem;
    width: 100%;
    margin: 8px 0px 0px 0px;
  }
}
.title-agency-p {
  width: 30%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  font-size: 2.7rem;
  color: rgba(238, 51, 37, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  z-index: 5;
}
@media (max-width: 768px) {
  .title-agency-p {
    width: 52%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}
.icon-agency {
  width: 33%;
  position: absolute;
  top: 7rem;
  right: 68rem;
  z-index: 2;
}
@media (max-width: 768px) {
  .icon-agency {
    display: none;
  }
}
.form-agency {
  width: 25%;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: rgba(107, 107, 107, 1);
}
@media (max-width: 768px) {
  .form-agency {
    margin: 1.5rem 0;
    width: 85%;
    height: 100%;
    justify-content: space-between;
  }
}
.form-agency select {
  width: 90%;
  border: 0;
  color: #6b6b6b;
  outline: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  border-bottom: solid 1px #b2b2b2;
  background-color: #f8f8f8;
}
@media (max-width: 768px) {
  .form-agency select {
    font-size: initial;
    width: 100%;
  }
}
.label-agency {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* @media (max-width: 768px) {
  .label-agency {
    width: auto;
  }
} */

.button-agency {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  border: 0;
  background-color: #f8f8f8;
}
.button-agency a {
  font-size: 1.2rem;
  color: #2688cc;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 768px) {
  .button-agency a {
    /* padding: 1.5rem 0; */
  }
}

@media (max-width: 768px) {
  .button-agency {
    align-self: flex-end;
    margin: 0;
  }
}

.box-iframe {
  padding: .5rem;
  width: 24%;
  height: 35vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: white;
  font-weight: 600;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .box-iframe {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.iframe-map {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .iframe-map {
    height: 50vh;
    width: 85vw;
  }
}
.location {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  color: #6B6B6B;
  font-size: 1rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.7rem;
}
@media (max-width: 768px) {
  .location {
    color: #0000008a;
    font-size: 1rem;
    padding: 25px 0;
  }
}

.impact-news {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .impact-news {
    flex-direction: column;
  }
}

#social-impact-news {
  width: 100%;
}

.social-impact {
  width: 65%;
}

@media (max-width: 768px) {
  .social-impact {
    width: 100%;
    padding: 10px;
  }
}

.box-txt-social {
  width: 50%;
  height: 80%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (max-width: 768px) {
  .box-txt-social {
    width: 90%;
  }
}

.title-social {
  color: #0183ca;
  margin: 0px 0px 5px 60px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .title-social {
    width: 100%;
    font-size: 2rem;
    margin: 0;
    padding-top: 2rem;
    height: 10vh;
    text-align: center;
    margin: 0px 0px 17px 0px;
  }
}

.box-img-social {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 29px;
  margin-bottom: 2rem;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .box-img-social {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
  }
}

.reverse {
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 768px) {
  .reverse {
    flex-direction: column;
  }
}

.social-figure {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-impact {
  width: 33vw;
  padding-left: 1rem;
}
@media (max-width: 768px) {
  .img-impact {
    width: 80vw !important;
    padding-top: 1.5rem;
    padding-left: 0;
  }
}

.img-impact-mid {
  width: 33vw;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .img-impact-mid {
    width: 80vw !important;
    padding-top: 1rem;
    padding-right: 0;
  }
}

.title-socialimpact {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.45rem;
}
@media (max-width: 768px) {
  .title-socialimpact {
    padding: 2rem 0;
  }
}

.p-socialimpact {
  text-align: left;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
}

.showmore-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  color: #459fd9;
}

.showmore {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: #459fd9;
}
.boxred-news {
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  background: red;
}

@media (max-width: 768px) {
  .boxred-news {
    width: 100%;
  }
}

.container-box-news {
  width: 30%;
  height: auto;
  background-color: #fff3f2;
}

@media (max-width: 768px) {
  .container-box-news {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }
}

.box-news-items {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.box-news {
  width: 80%;
  padding: 1rem;
  border-bottom: solid 1px #00000016;
}

.box-newsLast {
  width: 80%;
  padding: 1rem;
}

.title-news {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  margin: 2px;
}

@media (max-width: 768px) {
  .title-news {
    text-align: center;
  }
}

.container-news {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.65rem;
}
.subtitle-news {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  width: 100%;
  padding: 1rem 0;
}

.p-news {
  font-family: "Muli", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.showmore {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  color: #459fd9;
}

#partners {
  min-height: 60vh;
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-part {
  height: 39%;
  margin: 1rem 0;
}
.div-part {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
@media (max-width: 768px) {
  .div-part {
  }
}

.img-part {
  height: 40px;
}

.list-part {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .list-part {
    flex-wrap: wrap;
    width: 237px;
    height: 120px;
    justify-content: space-between;
  }
}

.title-partners {
  font-size: 1.35rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
  .title-partners {
    font-size: 0.8rem;
    position: relative;
    text-align: center;
  }
}

#footer {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e52d1f;
}

@media (max-width: 768px) {
  #footer {
    flex-direction: column;
    height: 100%;
  }
}

.box-grand-circle {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
}

.img-grand-circle {
  width: 100%;
}
.grand-circle-img {
  width: 250px;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .grand-circle {
    display: none;
  }
}

.grand-circle {
  width: 90%;
  box-sizing: border-box;
  text-decoration: none;
}

.container-footer {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container-footer {
    width: 85%;
    height: auto;
    flex-direction: column;
  }
}

.box-footer-center {
  display: flex;
  justify-content: center;
}
.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* @media (max-width: 768px) {
  .box-footer {
   
  }
} */
.text-footer{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* 
.logo-footer {
} */
.item-menu-footer {
  color: #fff;
  font-size: 1.12rem;
  /* margin: 10px 0; */
}
.list-menu-secundario {
  padding: 0;
  width: 100%;
  height: auto;
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
/* @media (max-width: 768px) {
  .list-menu-secundario {
    position: absolute;
    top: -85px;
  }
} */

.info-footer {
  display: flex;
}

@media (max-width: 768px) {
  .info-footer {
    line-height: 2.7;
  }
}

.img-logo-footer {
  width: auto;
  /* margin: 1rem 0; */
}

/* @media (max-width: 768px) {
  .img-logo-footer {
  }
} */

.p-info-footer {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .p-info-footer {
    font-size: 0.9rem;
  }
}

.box-copyright {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1rem;
}
/* @media (max-width: 768px) {
  .box-copyright {
    
  }
} */

.copyright {
  font-size: 0.95rem;
  color: black;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .copyright {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
  }
}
.p-copyright {
}
@media (max-width: 768px) {
  .p-copyright {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
  }
}

.menu-secundario {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: #fff;
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .menu-secundario {
    width: 100%;
    text-align: center;
  }
}
.list-menu-secundario {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  align-self: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.img-circle-whith {
  width: 50%;
}

@media (max-width: 768px) {
  .img-circle-whith {
    display: none;
  }
}

.menufooter img {
  width: 6vw;
}